body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

/* Navbar */

nav {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

/* Hero */

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero h3 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  margin: 0;
}

/* Card */

.card-title {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cards */

.card-title h2 {
  color: #333;
}

.card-title p {
  color: #666;
  line-height: 1.5;
  text-align: left;
}

/* Work grid */

.work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "seo seo"
    "prework crosspay"
    "polygon portfolio";
  grid-gap: 20px;
  margin: auto auto;
}

.work-item {
  background-color: #ffc75f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  background-size: cover;
}

.work-item h1,
.card-title h2 {
  color: #333;
  margin-bottom: 10px;
}

.work-item p,
.card-title p {
  color: #666;
  line-height: 1.5;
}

.work-item:nth-child(1) {
  grid-area: seo;
}

.work-item:nth-child(2) {
  grid-area: prework;
}

.work-item:nth-child(3) {
  grid-area: crosspay;
}

.work-item:nth-child(4) {
  grid-area: polygon;
}

.work-item:nth-child(5) {
  grid-area: portfolio;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin-top: 30px;
}

.footer-left {
  flex: 1;
}

.footer-right {
  display: flex;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

/* Mobile */

@media (max-width: 600px) {
  .work {
    grid-template-columns: 1fr;
    grid-template-areas:
      "seo"
      "prework" "crosspay"
      "polygon" "portfolio";
  }
}
