body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero h3 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.card-title {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title h2 {
  color: #333;
}

.card-title p {
  color: #666;
  line-height: 1.5;
  text-align: left;
}

.work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
  grid-gap: 20px;
  margin: auto auto;
}

.work-item {
  background-color: #ffc75f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  background-size: cover;
}

.work-item h1 {
  color: #333;
  margin-bottom: 10px;
}

.work-item p {
  color: #666;
  line-height: 1.5;
}

/* Assign grid area names */
.work-item:nth-child(1) {
  grid-area: project1;
}

.work-item:nth-child(2) {
  grid-area: project2;
}

.work-item:nth-child(3) {
  grid-area: project3;
}

.work-item:nth-child(4) {
  grid-area: project4;
}

.work-item:nth-child(5) {
  grid-area: project5;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin-top: 30px;
}

.footer-left {
  flex: 1;
}

.footer-right {
  display: flex;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}
